@page
@model PeluqueiaStar.Pages_HorarioEstelista.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-page="Create"><i class="bi bi-journal-text"></i> Create Horario Estelista </a>
</p>

<div class="card-body">
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead style="text-align: center;">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.HorarioEstelista[0].Disponibilidad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HorarioEstelista[0].Fecha)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HorarioEstelista[0].Horario)
                    </th>
                    <th><strong>Opciones</strong></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.HorarioEstelista)
                {
                    <tr style="text-align: center;">
                        <td>
                            @Html.DisplayFor(modelItem => item.Disponibilidad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Horario)
                        </td>
                        <td>
                            <a class="btn btn-success" asp-page="./Edit" asp-route-id="@item.Id"><i
                                class="bi bi-pencil"></i>Editar</a>
                            <a class="btn btn-secondary" asp-page="./Details" asp-route-id="@item.Id"><i
                                class="bi bi-journal-text"></i>Detalles</a>
                            <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id"><i
                                class="bi bi-trash"></i>Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
