@page
@model PeluqueiaStar.Pages_HorarioEstelista.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div >
    <br>
    <strong>
        <font face="Comic Sans MS,arial" style="color:indigo" size="6">Lista de Horarios para Citas Dispobibles</font>
    </strong>
    <br>
   
</div><br><br>

<div class="card-body">
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead style="text-align: center;">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.HorarioEstelista[0].Disponibilidad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HorarioEstelista[0].Fecha)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HorarioEstelista[0].Horario)
                    </th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.HorarioEstelista)
                {
                    if(item.Disponibilidad == false){
                        <tr style="text-align: center;">
                        <td>
                            @Html.DisplayFor(modelItem => item.Disponibilidad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Horario)
                        </td>

                        
                    </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
