@page
@model PeluqueiaStar.Pages_Administrador.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles Administrador</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrador.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrador.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrador.Apellidos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrador.Apellidos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrador.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrador.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrador.Contrasena)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrador.Contrasena)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrador.Celular)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrador.Celular)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrador.EstadoSalud)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrador.EstadoSalud)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Administrador?.Id">Editar</a> |
    <a asp-page="./Index">Lista Princicpal</a>
</div>
