@page
@model PeluqueiaStar.Pages_Estelista.IndexModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
    bool activar = false;
    var listEstelista = Model.Estelista;
    var identidadUsuario = UserManager.GetUserName(User);
    foreach (var item in listEstelista)
    {
        if (identidadUsuario == item.Email)
        {
            activar = true;
        }
    }
}

@if (activar)
{
    <div>
        <br>
        <strong>
            <font face="Comic Sans MS,arial" style="color:indigo" size="6">Detalles De Perfil Estilista</font>
        </strong>
        <br>

    </div><br><br>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
                <thead style="text-align: center;">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Estelista[0].TarjetaProfesional)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Estelista[0].Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Estelista[0].Apellidos)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Estelista[0].Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Estelista[0].Celular)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Estelista[0].EstadoSalud)
                        </th>
                        <th><strong>Opciones</strong></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Estelista)
                    {
                        @if (item.Email == @identidadUsuario)
                        {
                            <tr style="text-align: center;">
                                <td>
                                    @Html.DisplayFor(modelItem => item.TarjetaProfesional)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Apellidos)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Celular)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EstadoSalud)
                                </td>
                                <td>
                                    <a class="btn btn-success" asp-page="./Edit" asp-route-id="@item.Id"><i
                                class="bi bi-pencil"></i>Editar</a>
                                    <a class="btn btn-secondary" asp-page="./Details" asp-route-id="@item.Id"><i
                                class="bi bi-journal-text"></i>Detalles</a>
                                    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id"><i
                                class="bi bi-trash"></i>Eliminar</a>
                                </td>
                            </tr>

                        }

                    }
                </tbody>
            </table>
        </div>
    </div>

}
else
{


    <div class="text-center">
        <br>
        <strong>
            <font face="Comic Sans MS,arial" style="color:indigo" size="6"> Listado de nuestros Estelistas</font>
        </strong>
        <br>
        <br>

    </div>

    <div class="container"><br>
        <div class="row">
            <div class=" col-6 text-center"><br><br>
                <img src="/img/peluqueira1.png" alt="" width="300px">
            </div>

            <div class="col-6">
                <tbody>
                    @foreach (var item in Model.Estelista)
                    {
                        @if (item.EstadoSalud)
                        {
                            <h4  style="color:indigo"> @Html.DisplayFor(modelItem => item.Nombre) @Html.DisplayFor(modelItem =>
                    item.Apellidos)
                            </h4>
                            <span style="font: oblique bold 100% cursive;"> @Html.DisplayFor(modelItem => item.Celular)</span><br>
                            <span style="font: oblique bold 100% cursive;"> @Html.DisplayFor(modelItem => item.Email)</span> <br> <br> 
                        }

                    }
                </tbody>
            </div>
        </div>
    </div>

    <div >
        <br>
        <strong>
            <font face="Comic Sans MS,arial" style="color:indigo" size="4"> Para ingresar al perfil de Estilista ingresa
                <a asp-area="Identity" asp-page="/Account/Logout">aqui clik </a> 
            </font>
        </strong>
        <br>
        <br>

    </div>
}