@page
@model PeluqueiaStar.Pages_ServiciosOfrecer.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Servicios</h1>

<p>
    <a class="btn btn-primary" asp-page="Create"><i class="bi bi-journal-text"></i> Crear Servicios a Ofrecer </a>
</p>

<div class="card-body">
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead style="text-align: center;">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ServiciosOfrecer[0].Categoria)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ServiciosOfrecer[0].Descripcion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ServiciosOfrecer[0].ValorServicio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ServiciosOfrecer[0].ValorAplicarDescuento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ServiciosOfrecer[0].ValorTotalServicio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ServiciosOfrecer[0].Comentario)
                    </th>
                    <th><strong>Opciones</strong></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ServiciosOfrecer)
                {
                    <tr style="text-align: center;">
                        <td>
                            @Html.DisplayFor(modelItem => item.Categoria)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ValorServicio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ValorAplicarDescuento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ValorTotalServicio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Comentario)
                        </td>
                        <td>
                            <a class="btn btn-success" asp-page="./Edit" asp-route-id="@item.Id"><i class="bi bi-pencil"></i>Editar</a>
                            <a class="btn btn-secondary" asp-page="./Details" asp-route-id="@item.Id"><i class="bi bi-journal-text"></i>Detalles</a>
                            <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
